/* .text_margin{
    margin-left: 10px;
}

.flex{
    display: flex;
}

.card-background{
    background-color: #b04545;
}

.webpage-background{
    background-color: #bbbbbb;
} */

.main-content {
    background-image: url(Assets\Images\IMG_0811.JPG);
}

